.victory-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(95, 133, 117, 0.34);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background: radial-gradient(circle, transparent 0%, #ffffff6f 40%, transparent 80%); */
        border-radius: 10px;
        /* animation: glow 5s ease-in-out infinite; */
    }
}

/* @keyframes glow {


    0%,
    100% {
        transform: scale(0.5);
        opacity: 0.1;
    }

    50% {
        transform: scale(1);
        opacity: 0.1;
    }
} */

.victory-modal {
    position: relative;
    border: solid #ffffff;
    background-color: rgb(1, 14, 0);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 2;
    animation: victoryBackgroundAnimation 3s infinite alternate;

}

@keyframes victoryBackgroundAnimation {
    0% {
        background-color: #204c39;
    }

    50% {
        background-color: #6f8817;
    }

    100% {
        background-color: #295f48
    }
}



.victory-title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffff00;
}

.victory-text {
    font-size: 1.4em;
    padding: 20px;
    color: #FFFFFF;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}