.card {
    position: relative;
    z-index: 1
  }
  .card img {
    margin: 0;
    padding: 0;
    width: 80%; 
    object-fit: cover;
    border: solid #8b710b;
    border-radius:20px ;
    column-gap: 0px;
  }
    .card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }
  .flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }
    .card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }